{% extends 'base.html' %} {% block head %}
<title>Production Lot Status</title>
{% endblock %} {% block body %}

<div class="row">
  <div class="col-6">
    <h1>Production lot status</h1>
  </div>
{% if ProductionLot %}
  <div class="col-4">
    
    <a
      href="/palletObj"
      style="margin-top: 10px"
      class="btn btn-outline-primary btn-lg"
      >Track Orders in Lot
    </a>
  </div>
  {%endif%}
</div>
{% if ProductionLot %}
<table
  class="table table-bordered table-hover .table-responsive{-sm|-md|-lg|-xl|-xxl}"
>
  <thead>
    <tr>
      <th>Lot ID</th>
      <th>Frame Recipe</th>
      <th>Frame Color</th>
      <th>Screen Recipe</th>
      <th>Screen Color</th>
      <th>Keypad Recipe</th>
      <th>Keypad Color</th>
      <th>Quantity</th>
      <th>ProdPolicy</th>
      <th>Status</th>
      <th>Time</th>
      <th>Remove Order</th>
    </tr>
  </thead>
  <tbody>
    {% for lot in ProductionLot %}
    <tr>
      <!-- lot.id -->
      <td>{{loop.index}}</td>
      <td>{{lot.FrameType}}</td>
      <td>
        {{lot.FrameColor}}
        <span
          class="color"
          style="background-color: {{lot.FrameColor}};"
        ></span>
      </td>
      <td>{{lot.ScreenType}}</td>
      <td>
        {{lot.ScreenColor}}
        <span
          class="color"
          style="background-color: {{lot.ScreenColor}};"
        ></span>
      </td>
      <td>{{lot.KeypadType}}</td>
      <td>
        {{lot.KeypadColor}}
        <span
          class="color"
          style="background-color: {{lot.KeypadColor}}"
        ></span>
      </td>
      <td>{{lot.Quantity}}</td>
      <td>
        {% if lot.ProdPolicy == 1 %}
        <p class="alert alert-primary">Referance</p>
        {% elif lot.ProdPolicy == 2 %}
        <p class="alert alert-info">Fixed Color</p>
        {% elif lot.ProdPolicy == 3 %}
        <p class="alert alert-success">Fixed Col-Recipe</p>

        {% else %}
        <p class="alert alert-danger">ERROR</p>
        {% endif %}
      </td>
      <td>
        {% if lot.OrderStatus == 0 %}
        <p class="alert alert-warning">Under Process</p>
        {% else %}
        <p class="alert alert-success">Processed</p>
        {% endif %}
      </td>
      <td>{{lot.timestamp}}</td>
      <td>
        <!--  -->
        <form action="/productionLot" method="POST">
          <input type="hidden" name="id" value="{{lot.id}}" />
          <button type="submit" class="btn btn-danger">
            <i class="bi-file-excel-fill" style="font-size: 30px"></i>
          </button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="row">
  <div class="col-6">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong><h1>No orders Found.....</h1></strong>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
  </div>
  <div class="col-4">
    <a
      href="/placeorder"
      style="margin-top: 10px"
      class="btn btn-outline-primary btn-lg"
      >Want to place orders?
    </a>
  </div>
</div>
{% endif %} {% endblock %}
